/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --darkblue: #3F3D56;
    --moderateblue: #797889;
    --neutralblue: #9F9EAB;
    --orange: #FF6C11;
    --darkorange: #EB6410;
    --white: #FFFFFF;
    --offwhite: #CDCCD2;
}

/* Box Sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin & padding */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;    
}

/* Utility Classes */
.container {
    --max-width: 1200px;
    --horizontal-padding: 2rem;

    width: min(var(--max-width), 100% - var(--horizontal-padding) * 2);
    margin-inline: auto;
}

.section-padding {
    padding: 5rem 0 2rem 0;
}

.text-center-align {
    text-align: center;
}

.clr-white {
    color: var(--white);
}

.clr-offwhite {
    color: var(--offwhite);
}

.clr-orange {
    color: var(--orange);
}

.clr-darkblue {
    color: var(--darkblue);
}

.clr-moderateblue {
    color: var(--moderateblue);
}

.clr-neutralblue {
    color: var(--neutralblue);
}

h2 {
    margin-bottom: 0.8rem;
}

/* -- Navigation -- */
header {
    padding: 1rem 0;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.nav-link {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: var(--moderateblue);
}

.nav-link:hover {
    color: var(--darkblue);
    text-decoration: underline;
}

#nav-sign-up-button {
    padding: 0.55rem 1.5rem;
    border-radius: 4rem;
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid var(--orange);
    font-weight: 500;
}

#nav-sign-up-button:hover {
    background-color: var(--darkorange);
}

.hamburger-icon {
    display: none;
}

.x-icon {
    display: none;
}

.hamburger-icon, .x-icon:hover {
    cursor: pointer;
}

@media only screen and (max-width: 62em) {
    #nav-sign-up-button {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        inset: 7rem 3rem auto;
        background: var(--white);
        box-shadow: 0 0 10.75rem rgb(0, 0, 0, 10);
        padding: 4rem 0;
        text-align: center;
        border-radius: 1rem;
    }

    .hamburger-icon {
        display: block;
    }

    .hamburger-icon.active {
        display: none;
    }

    .x-icon.active {
        display: block;
    }
}

/* -- Hero Section -- */
.hero {
    background-image: url(/Images/Hero-Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 9rem 0;
}

#hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

#hero-heading {
    font-weight: 600;
}

.launchlist-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button:hover {
    cursor: pointer;
}

#form-enter-email {
    font-size: 12px;
    padding: 0.55rem 1rem;
    border-radius: 4rem;
    background-color: var(--white);
    border: 1px solid var(--white);
    outline: 0px solid var(--white);
}

#form-sign-up-button {
    font-size: 12px;
    padding: 0.55rem 1rem;
    border-radius: 4rem;
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid var(--orange);
    font-weight: 500;
}

#form-sign-up-button:hover {
    background-color: var(--darkorange);
}

/* -- How it works Section -- */
#how-it-works-cards {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 5rem;
}

.how-it-works-individual-card {
    background-color: #F5F5F5;
    border-radius: 14px;
    padding: 2rem;
}

.how-it-works-card-heading {
    margin: 0.75rem 0;
}

.how-it-works-card-image {
    margin-top: -70px;
}

/* -- Benefits Section -- */
#benefits-cards {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.benefits-individual-card {
    padding: 2rem;
}

.benefits-card-image {
    max-width: 150px;
}

.benefits-card-heading {
    color: var(--darkblue);
    font-weight: 600;
    font-size: 18px;
    margin: 0.75rem 0;
}

.benefits-card-paragraph {
    color: var(--moderateblue);
    font-size: 15px;
}

/* -- Footer -- */
footer {
    background-color: var(--darkblue);
    padding: 2rem 0;
}

#footer-flex {
    display: flex;
    flex-direction: column;
}

.footer-launchlist-form {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.footer-column {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-column a {
    text-decoration: none;
    color: var(--neutralblue);
}

.footer-column-header {
    color: var(--white);
    font-weight: 600;
    margin: 2rem 0 0.5rem 0;
}

.footer-column-link a:hover {
    color: var(--white);
    text-decoration: underline;
}

#footer-logo-copyright-icons {
    margin-top: 2rem;
}

#footer-logo {
    max-width: 140px;
}

#footer-copyright {
    color: var(--neutralblue);
    margin: 0.5rem 0 1rem 0;
}

/* -- Smaller Mobile View -- */
@media only screen and (max-width: 350px) {
    .footer-launchlist-form {
        flex-direction: column;
    }
}

/* -- Tablet View -- */
@media only screen and (min-width: 50em) {
    /* Utility Classes */
    .section-padding {
        padding: 5rem 0 4rem 0;
    }

    /* Hero Section */
    .hero {
        padding: 11rem 0;
    }

    #hero-content {
        gap: 1.5rem;
    }

    #hero-heading {
        font-size: 1.875rem;
    }

    #hero-paragraph {
        font-size: 1.15rem;
    }

    .launchlist-form {
        flex-direction: row;
    }

    /* How it works Section */
    #how-it-works-cards {
        flex-direction: row;
        gap: 2rem;
    }

    .how-it-works-individual-card {
        width: 33%;
    }

    /* Benefits Section */
    #benefits-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        align-items: end;
    }
}

/* -- Laptop View -- */
@media only screen and (min-width: 62em) {
    /* Hero Section */
    #form-enter-email, #form-sign-up-button {
        font-size: 14px;
        padding: 0.75rem 1.2rem;
    }
}

/* -- Wider View -- */
@media only screen and (min-width: 70em) {
    /* Benefits Section */
    #benefits-cards {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    /* Footer */
    footer {
        padding-bottom: 6rem;
    }

    #footer-flex {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #rights-reserved {
        display: block;
    }

}